



@using (Html.BeginForm("List", "Blog", FormMethod.Get))
{

    <div class="p-3 mb-3 bg-light border rounded">
        <h4>Blog Arama</h4>
        <hr />
        <div class="input-group">
            @Html.TextBox("q", null, new { @class = "form-control" })
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
}